<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/AuthorHead.jpg" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名:張瀚巍henryChang</font></li>
                    <li style="margin: 30px"><font size="5" color="white">職業:碼農</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅長:PHP、Vuejs、React-Native、NodeJs</font></li>
                    <li style="margin: 30px"><font size="5" color="white">愛好:電腦、電影、音樂、運動</font></li>
                    <li style="margin: 30px"><font size="5" color="white"></font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white"></font></li>

                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>
